# Feature Engineering

In [1]:
import sys
import os
sys.path.append('../scripts')
from data_loader import *
from feature_engineering import *
from eda import *

## Load Dataset

In [2]:
# path to the CSV file
filename = 'cleaned_df.parquet'
path = os.path.join('..', 'data/processed', filename)

# Load dataset
cleaned_df = load_data(path)

## Extracting RFMS Features

#### The RFMS definition:
R (Recency): The time(Number Of days) since the last purchase or engagement with a certain behavior or product.
   Solution: Current time -( latest  TransactionStartTime  of a user)

F (Frequency): Number of transactions per customer 
    Solution: count total number of TransactionId of a user

M (Monetary): Average transaction amount per customer.
   Solution: Sum of Amount of a user divided by Frequency


S (Standard Deviation): The standard deviation of the amounts spent on a certain behavior or product within the given time period.
 	Use Monetary as mean to calculate the Standard Deviation

In [3]:
rfms_df = create_rfms_features(cleaned_df)
rfms_df.head()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,ChannelId,Amount,Value,TransactionStartTime,PricingStrategy,FraudResult,Recency,Frequency,Monetary,StdDev
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,ProductId_10,airtime,ChannelId_3,1000.0,1000,2018-11-15 02:18:49+00:00,2,0,1981,119,923.712185,3029.484534
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,ProductId_1,airtime,ChannelId_3,500.0,500,2018-11-15 02:44:21+00:00,2,0,2061,2,500.000000,0.000000
3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,CustomerId_988,UGX,256,ProviderId_1,ProductId_21,utility_bill,ChannelId_3,20000.0,21800,2018-11-15 03:32:55+00:00,2,0,1985,38,6019.136842,16941.824395
5,TransactionId_23223,BatchId_25954,AccountId_1078,SubscriptionId_4238,CustomerId_1432,UGX,256,ProviderId_6,ProductId_3,airtime,ChannelId_3,2000.0,2000,2018-11-15 03:35:10+00:00,2,0,2070,1,2000.000000,0.000000
6,TransactionId_118063,BatchId_118460,AccountId_2442,SubscriptionId_1980,CustomerId_2858,UGX,256,ProviderId_5,ProductId_3,airtime,ChannelId_3,10000.0,10000,2018-11-15 03:44:31+00:00,4,0,1985,29,3220.689655,5398.411600

In [4]:
rfms_df = create_rfms_indicator_features(rfms_df)

C:\Users\Administrator\Downloads\10-Academy\week-6\AiML-bati-bank-credit-scoring-model\notebooks\../scripts\feature_engineering.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rfms_df.loc[:, '>Recency'] = (rfms_df['Recency'] > rfms_mean['Recency']).astype(int)
C:\Users\Administrator\Downloads\10-Academy\week-6\AiML-bati-bank-credit-scoring-model\notebooks\../scripts\feature_engineering.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rfms_df.loc[:, '>Frequency'] = (rfms_df['Frequency'] > rfms_mean['Frequency']).astype(int)
C:\Users\Administrator\Downloads\10-Academy\week-6\AiML-bati-bank-credit-scoring-model\notebooks\../scripts\feature_engineering.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rfms_df.loc[:, '>Monetary'] = (rfms_df['Monetary'] > rfms_mean['Monetary']).astype(int)
C:\Users\Administrator\Downloads\10-Academy\week-6\AiML-bati-bank-credit-scoring-model\notebooks\../scripts\feature_engineering.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rfms_df.loc[:, '>StdDev'] = (rfms_df['StdDev'] > rfms_mean['StdDev']).astype(int)

## Extract Time Features

In [15]:
processed_data = extract_time_features(processed_data)
processed_data.head()
processed_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95393 entries, 0 to 95392
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   TransactionId             95393 non-null  object
 1   BatchId                   95393 non-null  object
 2   AccountId                 95393 non-null  object
 3   SubscriptionId            95393 non-null  object
 4   CustomerId                95393 non-null  object
 5   CurrencyCode              95393 non-null  object
 6   CountryCode               95393 non-null  int64
 7   ProviderId                95393 non-null  object
 8   ProductId                 95393 non-null  object
 9   ProductCategory           95393 non-null  object
 10  ChannelId                 95393 non-null  object
 11  Amount                    95393 non-null  float64
 12  Value                     95393 non-null  int64
 13  TransactionStartTime      95393 non-null  datetime64[ns, UTC]
 14  PricingStrategy           95393 non-null  int64
 15  FraudResult               95393 non-null  int64
 16  TotalTransactionAmount    95393 non-null  float64
 17  AverageTransactionAmount  95393 non-null  float64
 18  TransactionCount          95393 non-null  int64
 19  StdTransactionAmount      94691 non-null  float64
 20  TransactionHour           95393 non-null  int32
 21  TransactionDay            95393 non-null  int32
 22  TransactionMonth          95393 non-null  int32
 23  TransactionYear           95393 non-null  int32
dtypes: datetime64[ns, UTC](1), float64(4), int32(4), int64(5), object(10)
memory usage: 16.0+ MB

In [16]:
null_counts = processed_data.isnull().sum()
print("Null values in each column:")
print(null_counts)

Null values in each column:
TransactionId                 0
BatchId                       0
AccountId                     0
SubscriptionId                0
CustomerId                    0
CurrencyCode                  0
CountryCode                   0
ProviderId                    0
ProductId                     0
ProductCategory               0
ChannelId                     0
Amount                        0
Value                         0
TransactionStartTime          0
PricingStrategy               0
FraudResult                   0
TotalTransactionAmount        0
AverageTransactionAmount      0
TransactionCount              0
StdTransactionAmount        702
TransactionHour               0
TransactionDay                0
TransactionMonth              0
TransactionYear               0
dtype: int64

## Handle Missing Values

In [17]:
processed_data = handle_missing_values(processed_data)
processed_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95393 entries, 0 to 95392
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   TransactionId             95393 non-null  object
 1   BatchId                   95393 non-null  object
 2   AccountId                 95393 non-null  object
 3   SubscriptionId            95393 non-null  object
 4   CustomerId                95393 non-null  object
 5   CurrencyCode              95393 non-null  object
 6   CountryCode               95393 non-null  float64
 7   ProviderId                95393 non-null  object
 8   ProductId                 95393 non-null  object
 9   ProductCategory           95393 non-null  object
 10  ChannelId                 95393 non-null  object
 11  Amount                    95393 non-null  float64
 12  Value                     95393 non-null  float64
 13  TransactionStartTime      95393 non-null  datetime64[ns, UTC]
 14  PricingStrategy           95393 non-null  float64
 15  FraudResult               95393 non-null  float64
 16  TotalTransactionAmount    95393 non-null  float64
 17  AverageTransactionAmount  95393 non-null  float64
 18  TransactionCount          95393 non-null  float64
 19  StdTransactionAmount      95393 non-null  float64
 20  TransactionHour           95393 non-null  float64
 21  TransactionDay            95393 non-null  float64
 22  TransactionMonth          95393 non-null  float64
 23  TransactionYear           95393 non-null  float64
dtypes: datetime64[ns, UTC](1), float64(13), object(10)
memory usage: 17.5+ MB

In [18]:
null_counts = processed_data.isnull().sum()
print("Null values in each column:")
print(null_counts)

Null values in each column:
TransactionId               0
BatchId                     0
AccountId                   0
SubscriptionId              0
CustomerId                  0
CurrencyCode                0
CountryCode                 0
ProviderId                  0
ProductId                   0
ProductCategory             0
ChannelId                   0
Amount                      0
Value                       0
TransactionStartTime        0
PricingStrategy             0
FraudResult                 0
TotalTransactionAmount      0
AverageTransactionAmount    0
TransactionCount            0
StdTransactionAmount        0
TransactionHour             0
TransactionDay              0
TransactionMonth            0
TransactionYear             0
dtype: int64

In [19]:
non_fraud_df = processed_data[processed_data['FraudResult'] == 1.0]
print(f"Number of fraudulent transactions: {len(non_fraud_df)}")

Number of fraudulent transactions: 19

In [20]:
print(processed_data['FraudResult'].value_counts())

FraudResult
0.0    95374
1.0       19
Name: count, dtype: int64

In [21]:
processed_data['FraudResult'].unique()

array([0., 1.])

## Encode Categorical Variables

In [22]:
processed_data = encode_categorical_variables(processed_data)
processed_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95393 entries, 0 to 95392
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   TransactionId             95393 non-null  int32
 1   BatchId                   95393 non-null  int32
 2   AccountId                 95393 non-null  int32
 3   SubscriptionId            95393 non-null  int32
 4   CustomerId                95393 non-null  int32
 5   CurrencyCode              95393 non-null  int32
 6   CountryCode               95393 non-null  float64
 7   ProviderId                95393 non-null  int32
 8   ProductId                 95393 non-null  int32
 9   ProductCategory           95393 non-null  int32
 10  ChannelId                 95393 non-null  int32
 11  Amount                    95393 non-null  float64
 12  Value                     95393 non-null  float64
 13  TransactionStartTime      95393 non-null  datetime64[ns, UTC]
 14  PricingStrategy           95393 non-null  float64
 15  FraudResult               95393 non-null  float64
 16  TotalTransactionAmount    95393 non-null  float64
 17  AverageTransactionAmount  95393 non-null  float64
 18  TransactionCount          95393 non-null  float64
 19  StdTransactionAmount      95393 non-null  float64
 20  TransactionHour           95393 non-null  float64
 21  TransactionDay            95393 non-null  float64
 22  TransactionMonth          95393 non-null  float64
 23  TransactionYear           95393 non-null  float64
dtypes: datetime64[ns, UTC](1), float64(13), int32(10)
memory usage: 13.8 MB

In [23]:
print(processed_data['FraudResult'].value_counts())

FraudResult
0.0    95374
1.0       19
Name: count, dtype: int64

In [24]:
processed_data['FraudResult'].unique()

array([0., 1.])

## Normalize/Standardize Numerical Features

In [25]:
processed_data = normalize_and_standardize_numerical_features(processed_data)

In [26]:
processed_data['FraudResult'].unique()

array([-1.41143799e-02,  7.08497298e+01])

In [27]:
processed_data.head()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,...,PricingStrategy,FraudResult,TotalTransactionAmount,AverageTransactionAmount,TransactionCount,StdTransactionAmount,TransactionHour,TransactionDay,TransactionMonth,TransactionYear
0,1.097554,-0.015739,0.152495,1.668598,0.595592,0.0,0.0,1.025586,-1.579657,-0.797775,...,-0.352001,-0.014114,0.189932,-0.160503,-0.312141,-0.494065,-2.155000,-0.101329,0.848594,-0.994095
1,1.013197,-0.571710,0.866893,0.345454,0.595592,0.0,0.0,-0.506537,0.913723,0.492978,...,-0.352001,-0.014114,0.189932,-0.160503,-0.312141,-0.494065,-2.155000,-0.101329,0.848594,-0.994095
2,-0.287752,0.469870,0.371629,-1.201817,0.808675,0.0,0.0,1.025586,-1.718179,-0.797775,...,-0.352001,-0.014114,0.184840,-0.198738,-0.445132,-0.783585,-2.155000,-0.101329,0.848594,-0.994095
3,0.032646,-1.666070,0.996605,-1.226846,1.694602,0.0,0.0,-2.804723,-0.194446,4.365238,...,-0.352001,-0.014114,0.195487,0.299301,-0.404212,0.850329,-1.948696,-0.101329,0.848594,-0.994095
4,-0.234407,0.055978,0.866893,0.345454,1.694602,0.0,0.0,-0.506537,0.913723,0.492978,...,-0.352001,-0.014114,0.195487,0.299301,-0.404212,0.850329,-1.948696,-0.101329,0.848594,-0.994095

In [28]:
processed_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95393 entries, 0 to 95392
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   TransactionId             95393 non-null  float64
 1   BatchId                   95393 non-null  float64
 2   AccountId                 95393 non-null  float64
 3   SubscriptionId            95393 non-null  float64
 4   CustomerId                95393 non-null  float64
 5   CurrencyCode              95393 non-null  float64
 6   CountryCode               95393 non-null  float64
 7   ProviderId                95393 non-null  float64
 8   ProductId                 95393 non-null  float64
 9   ProductCategory           95393 non-null  float64
 10  ChannelId                 95393 non-null  float64
 11  Amount                    95393 non-null  float64
 12  Value                     95393 non-null  float64
 13  TransactionStartTime      95393 non-null  datetime64[ns, UTC]
 14  PricingStrategy           95393 non-null  float64
 15  FraudResult               95393 non-null  float64
 16  TotalTransactionAmount    95393 non-null  float64
 17  AverageTransactionAmount  95393 non-null  float64
 18  TransactionCount          95393 non-null  float64
 19  StdTransactionAmount      95393 non-null  float64
 20  TransactionHour           95393 non-null  float64
 21  TransactionDay            95393 non-null  float64
 22  TransactionMonth          95393 non-null  float64
 23  TransactionYear           95393 non-null  float64
dtypes: datetime64[ns, UTC](1), float64(23)
memory usage: 17.5 MB

In [29]:
processed_data

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,...,PricingStrategy,FraudResult,TotalTransactionAmount,AverageTransactionAmount,TransactionCount,StdTransactionAmount,TransactionHour,TransactionDay,TransactionMonth,TransactionYear
0,1.097554,-0.015739,0.152495,1.668598,0.595592,0.0,0.0,1.025586,-1.579657,-0.797775,...,-0.352001,-0.014114,0.189932,-0.160503,-0.312141,-0.494065,-2.155000,-0.101329,0.848594,-0.994095
1,1.013197,-0.571710,0.866893,0.345454,0.595592,0.0,0.0,-0.506537,0.913723,0.492978,...,-0.352001,-0.014114,0.189932,-0.160503,-0.312141,-0.494065,-2.155000,-0.101329,0.848594,-0.994095
2,-0.287752,0.469870,0.371629,-1.201817,0.808675,0.0,0.0,1.025586,-1.718179,-0.797775,...,-0.352001,-0.014114,0.184840,-0.198738,-0.445132,-0.783585,-2.155000,-0.101329,0.848594,-0.994095
3,0.032646,-1.666070,0.996605,-1.226846,1.694602,0.0,0.0,-2.804723,-0.194446,4.365238,...,-0.352001,-0.014114,0.195487,0.299301,-0.404212,0.850329,-1.948696,-0.101329,0.848594,-0.994095
4,-0.234407,0.055978,0.866893,0.345454,1.694602,0.0,0.0,-0.506537,0.913723,0.492978,...,-0.352001,-0.014114,0.195487,0.299301,-0.404212,0.850329,-1.948696,-0.101329,0.848594,-0.994095
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95388,1.456555,1.642137,0.866893,0.345454,-0.437190,0.0,0.0,-0.506537,0.913723,0.492978,...,-0.352001,-0.014114,0.298784,0.140112,0.203909,1.362774,-0.710872,-0.324472,-0.874127,1.005941
95389,1.502419,-0.045114,-0.272017,-0.803622,0.185742,0.0,0.0,1.025586,-1.579657,-0.797775,...,-0.352001,-0.014114,0.187528,-0.121092,-0.398529,-0.567108,-0.710872,-0.324472,-0.874127,1.005941
95390,1.250545,-1.224231,0.866893,0.345454,0.185742,0.0,0.0,-0.506537,0.913723,0.492978,...,-0.352001,-0.014114,0.187528,-0.121092,-0.398529,-0.567108,-0.710872,-0.324472,-0.874127,1.005941
95391,-0.734051,0.935444,-1.992665,1.453573,-1.373989,0.0,0.0,1.025586,-0.610010,3.719862,...,-0.352001,-0.014114,0.224626,-0.097136,0.148212,-0.478303,-0.504567,-0.324472,-0.874127,1.005941
95392,-0.030794,-0.197009,0.866893,0.345454,-1.373989,0.0,0.0,-0.506537,0.913723,0.492978,...,-0.352001,-0.014114,0.224626,-0.097136,0.148212,-0.478303,-0.504567,-0.324472,-0.874127,1.005941

In [30]:
null_counts = processed_data.isnull().sum()
print("Null values in each column:")
print(null_counts)

Null values in each column:
TransactionId               0
BatchId                     0
AccountId                   0
SubscriptionId              0
CustomerId                  0
CurrencyCode                0
CountryCode                 0
ProviderId                  0
ProductId                   0
ProductCategory             0
ChannelId                   0
Amount                      0
Value                       0
TransactionStartTime        0
PricingStrategy             0
FraudResult                 0
TotalTransactionAmount      0
AverageTransactionAmount    0
TransactionCount            0
StdTransactionAmount        0
TransactionHour             0
TransactionDay              0
TransactionMonth            0
TransactionYear             0
dtype: int64

In [33]:
print(processed_data['FraudResult'].value_counts())

FraudResult
-0.014114     95374
 70.849730       19
Name: count, dtype: int64

In [32]:
processed_data['FraudResult'].unique()

array([-1.41143799e-02,  7.08497298e+01])

## Save the the processed dataset

In [31]:
# Define output folder and file name
output_folder = os.path.join('..', 'data', 'featured')
filename = 'featured_df.parquet'

output_path = save_data(processed_data, output_folder, filename)

Dataset saved to ..\data\featured\featured_df.parquet